@import "variables";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      157.5deg,
      rgba(197, 45, 183, 0.2) 0%,
      rgba(197, 45, 183, 0.2) 16.667%,
      rgba(49, 20, 191, 0.2) 16.667%,
      rgba(49, 20, 191, 0.2) 33.334%,
      rgba(160, 39, 185, 0.2) 33.334%,
      rgba(160, 39, 185, 0.2) 50.001%,
      rgba(123, 32, 187, 0.2) 50.001%,
      rgba(123, 32, 187, 0.2) 66.668%,
      rgba(234, 51, 181, 0.2) 66.668%,
      rgba(234, 51, 181, 0.2) 83.335%,
      rgba(86, 26, 189, 0.2) 83.335%,
      rgba(86, 26, 189, 0.2) 100.002%
    ),
    linear-gradient(
      0deg,
      rgba(197, 45, 183, 0.2) 0%,
      rgba(197, 45, 183, 0.2) 16.667%,
      rgba(49, 20, 191, 0.2) 16.667%,
      rgba(49, 20, 191, 0.2) 33.334%,
      rgba(160, 39, 185, 0.2) 33.334%,
      rgba(160, 39, 185, 0.2) 50.001%,
      rgba(123, 32, 187, 0.2) 50.001%,
      rgba(123, 32, 187, 0.2) 66.668%,
      rgba(234, 51, 181, 0.2) 66.668%,
      rgba(234, 51, 181, 0.2) 83.335%,
      rgba(86, 26, 189, 0.2) 83.335%,
      rgba(86, 26, 189, 0.2) 100.002%
    ),
    linear-gradient(
      112.5deg,
      rgba(197, 45, 183, 0.2) 0%,
      rgba(197, 45, 183, 0.2) 16.667%,
      rgba(49, 20, 191, 0.2) 16.667%,
      rgba(49, 20, 191, 0.2) 33.334%,
      rgba(160, 39, 185, 0.2) 33.334%,
      rgba(160, 39, 185, 0.2) 50.001%,
      rgba(123, 32, 187, 0.2) 50.001%,
      rgba(123, 32, 187, 0.2) 66.668%,
      rgba(234, 51, 181, 0.2) 66.668%,
      rgba(234, 51, 181, 0.2) 83.335%,
      rgba(86, 26, 189, 0.2) 83.335%,
      rgba(86, 26, 189, 0.2) 100.002%
    ),
    linear-gradient(90deg, rgb(29, 6, 130), rgb(251, 111, 62));
}

.wrapper {
  font-family: basic-sans, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125 em;
  line-height: 1.6;
  // background: $neutral;
  position: relative;
  overflow-x: hidden;
}

a {
  color: $primary;
}

button:focus {
  outline: 0;
}

.content {
  background: $light;
  width: 70vw;
  max-width: 1200px;
  padding: 3em;
  box-shadow: 0 0 3em rgba($color: #000000, $alpha: 0.15);
  border-radius: 0.5em;
  ul {
    margin-top: 1em;
    list-style-type: none;
    text-align: center;
  }
  li {
    padding: 0.25em;
    display: inline;
    vertical-align: middle;
    a {
      color: $dark;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 900;
      font-size: 1.1em;
    }
    img {
      width: 25px;
    }
  }
  @media screen and (max-width: $breakMed) {
    width: 90vw;
    padding: 1.5em;
  }
}

.title {
  margin: 0 0 0.5em;
  font-weight: 900;
  color: $primary;
  line-height: 0.8;
}

.nav {
  background: $light;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 0 0 3em rgba($color: #000000, $alpha: 0.15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  text-transform: uppercase;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  padding: 3em 4em;
}

.nav__link {
  text-decoration: none;
  color: $dark;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.125em;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
}

.nav__link:hover {
  //text-decoration: underline;
  color: $primary;
  &::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.nav__toggle {
  position: absolute;
  top: 2em;
  left: 0;
  transform: translateX(-100%);
  background: $light;
  padding: 1em 0.5em;
  border: 0;
  border-radius: 0.25em 0 0 0.25em;
  cursor: pointer;
  box-shadow: 0 0 3em rgba($color: #000000, $alpha: 0.15);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2.2em;
  height: 2px;
  background: $dark;
  transition: transform 600ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  transition: transform 500ms ease-in-out;
}

.hamburger::before {
  bottom: 5px;
}

.hamburger::after {
  top: 5px;
}

//nav toggled open
.nav-open .nav {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translate(5px);
}

.nav-open .hamburger::after {
  transform: rotate(90deg) translate(-5px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($cardWidth, 1fr));
  gap: 20px;
  justify-items: center;
  .card {
    background: $neutral;
    width: $cardWidth;
    text-align: center;
    color: $dark;
    border-radius: 0.5em;
  }
  .card__image {
    height: $cardWidth;
    img {
      border-radius: 0.5em 0.5em 0 0;
      width: 100%;
    }
  }
  .card__content {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0.2em;
  }
}
